@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.hero-media-component {
  padding: 0;
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-list {
    z-index: -1;
  }
  .slick-arrow {
    width: 36px;
    height: 36px;
    &::before {
      color: $color-primary;
      opacity: 1;
      font-size: 36px;
    }

    &:hover::before {
      color: $color-primary;
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }
  }
}

.hero_banner_wrapper {
  width: 100%;
  min-height: auto;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% !important;
  height: auto !important;
  position: relative;
  @include clearfix;

  @include respond(tab) {
    min-height: 540px;
    height: 580px !important;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div {
    color: #ffffff;
  }
}
.hero_banner-body {
  font-family: $bold-font;
  cursor: grab;
  left: 0;
  bottom: 0;
  height: auto;
  padding: 20px 70px 20px 70px !important;

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

.hero_banner_title {
  h1 {
    font-family: $bold-font;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    width: 100%;
    margin: 0;
    color: white;
    @include respond(desktop) {
      font-size: 72px;
      line-height: 87px;
    }
  }
}

.hero_banner_short_title {
  h4 {
    display: none;
    font-family: $bold-font;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    @include respond(tab) {
      display: block;
    }
    @include respond(desktop) {
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.hero_banner_subhead {
  border-color: transparent;
  font-size: 24px;
  line-height: 30px;
  display: none;
  @include respond(tab) {
    display: block;
  }
  @include respond(desktop) {
    font-size: 30px;
    line-height: 36px;
  }
}

.hero_banner_text_desc {
  border-color: transparent;
  font-size: 20px;
  line-height: 26px;
  display: none;
  margin-bottom: 0;
  @include respond(tab) {
    display: block;
  }

  @include respond(desktop) {
    font-size: 24px;
    line-height: 30px;
    padding: 5px 10px;
  }
}

.hero_banner_btn_wrapper {
  padding: 0 10px;
  display: none;
  @include respond(tab) {
    display: block;
  }

  a {
    font-size: 18px;
    line-height: 22px;
    color: $color-black;
    font-family: $bold-font;
    &:hover {
      text-decoration: none;
    }
  }
}
