<section class="mt-4 pb-2 block--type-hero-media-block" aria-label="hero">
    <div class="hero_banner_wrapper paragraph--view-mode--hero-media position-relative w-100">
      {% include "@molecules/05-HeroComponent/00-image-content.twig" %}
      <div class="hero_banner-body hero_media_content w-100 position-absolute text-right"
          style="background-color:{{ heroComponent.heroAsset.bgColor }}">
        {% include "@molecules/05-HeroComponent/01-text-content.twig" %}
      </div>
    </div>
</section>
