<section class="social-media w-100 text-center">
  {% if socialMedia.type == 'instagram' %}
    {% include '@atoms/09-instagram/00-instagram.twig' %}
  {% else %}
    {% include '@atoms/10-twitter/00-twitter.twig' %}
  {% endif %}
</section>
