//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.path-node:not(.page-node-type-landing-page) {
  .page-header {
    @extend %h1;
    border: none;
    margin-bottom: 10px;
  }
  .full {
  .content {
      > .field--name-field-subhead  {
        font-family: $heading-font;
        font-size: 32px;
        margin-bottom: 30px;
      }
    }
  }
  .paragraph--type--text {
    img {
      margin-bottom: 20px;
      width: 100%;
    }
    p {
      margin-bottom: 1em;
      line-height: 24px;
    }
  }
  .region-content {
    padding-bottom: 40px;
  }
}
.node--type-landing-page {
  &.layout-sidebar-first {
    .main-content {
      padding-right: 0;
      @include respond(tab-land) {
        padding-left: 0;
      }
    }
  }
  &.layout-sidebar-second {
    .main-content {
      padding-left: 0;
      @include respond(tab-land) {
        padding-right: 0;
      }
    }
  }
}
