//import
@import '../abstracts/variables';

.error-page {
  .main-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img { 
      max-width: 200px;
      margin: 20px 0;
    }
    h5 {
      font-family: $primary-font;
      font-weight: bold;
    }
    a {
      color: $color-primary;
      display: inline-block;
      margin-bottom: 25px;
      &:hover,
      &:active {
        color: $color-primary-hover;
      }
    }
  }
}
