//import
@import '../abstracts/mixins';
@import '../abstracts/variables';
@keyframes "blink" {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.node {
  &--type-liveblog {
    .main-content {
      position: relative;
      .field--name-field-status {
        padding: 10px 0 0;
        text-transform: uppercase;
        &::before {   
          content: '.';
          display: inline-block;
          margin-right: 2px;
          color: $color-dark-red;
          font-size: 80px;
          line-height: 0;
          animation: 1s blink ease infinite;
        }
      }
      .liveblog-post {
        .field--name-field-content {
          margin-top: 15px;
          .field--name-field-body {
            max-width: 100%;
            padding: 0;
            border: none;
            background: transparent;
          }
        }
      }
    }
    .title {
      background: $color-light-red;
      padding: 25px 20px 20px;
      margin-bottom: 0;
      border: solid 1px rgba(255,0,0,0.7);
      border-bottom: 0;
      color: white;
      font-weight: 700;
    }
    .node {
      &__content {
        font-size: $default-font-size;
        color: $color-grey-light-3;
        margin-top: 0;
        > .field--type-text-with-summary {
          background: $color-dark-red;
          padding: 15px 20px;
          color: white;
          border: solid 1px rgba(255,0,0,0.7);
          border-top: 0;
          a {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
    article {
      header {
        display: none;
      }
    }
    .button {
      &--danger {
        color: red;
      }
    }
    div.liveblog-post {
      margin-bottom: 30px;
      border-bottom: none;
    }
  }
}
.liveblog-post-edit-form {
  border: solid 1px $color-grey-light-dark;
  margin-bottom: 15px;
  padding-top: 15px;
  .form-wrapper {
    padding: 0 30px;
  }
}
.liveblog-posts {
  &-container {
    max-width: 100%;
  }
  &--title {
    display: none;
  }
  .form-wrapper {
    summary[role='button'] {
      background: $color-grey-light-dark;
      padding: 10px;
      margin-top: 15px;
    }
    .form-wrapper {
      padding: 0 30px;
    }
  }
  .details-wrapper {
    border: solid 1px $color-grey-light-dark;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .form-actions {
    padding: 20px 30px 0;
    display: flex;
    align-items: center;
    input {
      width: 18%;
      margin-right: 15px;
    }
  }
}
article.liveblog-post {
  .liveblog-posts & {
    border-bottom: 1px solid $color-dark-red;
    background-color: #f3f3f3;
    padding: 25px 20px 10px;
  }
  .node {
    &__content {
      font-size: $default-font-size;
    }
  }
  .field {
    &--name-title {
      @extend %h2;
      margin-bottom: 8px;
      font-weight: 700;
    }
    &--name-body {
      margin-top: 15px;
      figcaption {
        padding: 5px 10px;
        font-size: 14px;
        box-shadow: 0px 0px 3px rgba(103, 102, 102, 0.25);
      }
    }
    &--name-uid,
    &--name-created {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 12px;
      font-weight: 700;
    }
    &--name-uid {
      display: none;
    }
    &--type-link {
      a {
        font-size: 13px;
        font-weight: 700;
        text-transform: capitalize;
        color: $color-text;
      }
    }
    &--name-location {
      margin-top: 20px;
    }
  }
  &--edit-button {
    .link {
      border: 0;
      background: $color-primary-hover;
      color: $color-white;
      text-transform: capitalize;
      padding: 5px 10px;
      border-radius: 2px;
      &:hover {
        background: $color-primary;
      }
    }
  }
  .field--name-field-media {
    overflow: hidden;
  }
  .field--type-image,
  .field--name-field-user-picture {
    img {
      margin-bottom: 0;
    }
  }
}
