.region-footer {
  .block--type-text-block {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid $color-grey-light-dark;
    @include respond(phone-min) {
      width: calc(25% - 30px);
      margin-right: 30px;
      border: none;
      margin-bottom: 0;
    }
  }
  .menu--footer-menu {
    @include respond(phone-min) {
      width: 74%;
    }
    display: inline-block;
    vertical-align: top;
  }
  .menu--footer-menu {
    li {
      list-style: none;
      display: inline-block;
      width: 100%;
      @include respond(phone-min) {
        width: 25%;
      }
      padding: 0 10px;
      a {
        padding: 0;
        color: black;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
  }
}
