@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';
.region-footer {
  .edge-footer {
    font-size: 12px;
  }
  .row {
    padding: 10px 0;
  }
  .block-system-menu-blockprivacy-policy {
    width: 100%;
    padding: 30px 20px;
    background: $color-bg-dark-cyan;
    @include respond(tab) {
      padding: 40px 40px 30px 30px;
    }
    ul {
      li {
        display: inline-block;
        a {
          color: $color-white;
        }
      }
      p {
        display: block;
        color: $color-white;
        padding: 20px 0 0 10px;
        @include respond(tab) {
          padding: 8px 0 0;
          display: inline-block;
          float: right;
        }
      }
    }
  }
}
