
<nav id="nav" class="navbar-collapse collapse" id="navbarSupportedContent">
	<div class="form-inline navbar-form">
		<ul class="navbar-nav mr-auto">
			<li>
				{% include "@atoms/12-links/00-links.twig" with {
					text: "Home",
					class: "nav-link"
				}%}
			</li>

			<li>
				{% include "@atoms/12-links/00-links.twig" with {
					text: "Component",
					class: "nav-link"
				}%}
			</li>
		</ul>	
	</div>
</nav>
