{% for key,value in footermenutop.footerTop %}
  <li class="col-sm-4">
    {% include '@atoms/12-links/00-links.twig' with {
      text: value.text,
      class: value.class,
      url: value.url
    } %}
  </li>
{% endfor %}