@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';
.region-footer {
  .block--type-text-block {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    @include respond(tab) {
      width: 33%;
      border: none;
      margin-bottom: 0;
      padding-left: 30px;
    }
  }
  .block-system-menu-blockfooter-menu {
    display: block;
    width: 100%;
    @include respond(tab) {
      width: 33%;
      display: inline-block;
      vertical-align: top;
    }
    .menu--footer-menu {
      padding-bottom: 20px;
      @include respond(tab) {
        padding-bottom: 0;
      }
      li {
        list-style: none;
        display: inline-block;
        width: 100%;
        padding: 0;
        @include respond(tab) {
          width: 25%;
          padding: 0 10px;
        }
        a {
          padding: 0;
          color: $color-white;
          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }
    }
  }
}
