<div class="row">
  <div class="col-12 col-sm-3 block--type-text-block">
    <div class="footer--about--address">
      {% include '@atoms/02-text/07-address.twig' %}
    </div>
  </div>
  <div class="col-sm-8">
    {% include '@molecules/12-FooterTop/01-footer-top-menu-list.twig' %}
  </div>
</div>
