@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.referenced-card {
  margin-bottom: 30px;
  .field--name-field-article {
    @include respond(phone-min) {
      display: flex;
      flex-wrap: wrap;
    }
    > .field__item {
      margin-bottom: 30px;
      flex: 0 0 100%;
      @include respond(phone-min) {
        margin-bottom: 20px;
      }

      &:nth-child(3n + 2) {
        @include respond(phone-min) {
          margin: 0 20px;
        }
      }

      @include respond(phone-min) {
        max-width: calc(33% - 20px);
      }
    }
  }
  .field--type-image {
    img {
      max-width: 100%;
      height: auto;
    }
    margin-bottom: 30px;
  }
  .block-field {
    &-blocknodearticletitle {
      margin-bottom: 25px;
      a {
        @include respond(phone-min) {
          font-size: 30px;
          line-height: 36px;
          font-family: $bold-font;
          color: $color-dark-blue;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .referenced-summary {
    margin-bottom: 0;
  }
}
