<div class="qna-wrapper" aria-label="question answer">
  <div class="question">
    {# <h4>{{qna.question}}</h4> #}
    {% include '@atoms/02-text/00-headings.twig' with {
      heading_level: 4,
      heading: qna.question
    } %}
  </div>

  {% include '@atoms/13-content/05-content.twig' with {
    content: qna.answer,
    class: 'answer'
  } %}
</div>
