{# Header component #}
<header class="navbar fixed-top navbar-expand-lg ezcontent-header">
  <div class="container">
    {% include '@atoms/04-images/00-logo.twig' %}
    <button aria-controls="navbarSupportedContent"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% include '@molecules/00-Menus/02-main-menu.twig' %}
  </div>
</header>
