<div class="row">
	<div class="col-12 col-sm-3 block--type-text-block">
		<div class="footer--about--address">
			{% include "@atoms/02-text/07-address.twig" %}
		</div>
	</div>
	<div class="col-sm-8">
		<ul class="menu--footer-menu w-100 d-flex flex-wrap">
			<li class="col-sm-4">
				<a href="/node/1" aria-label="Read more about us">About Us</a>
			</li>
			<li class="col-sm-4">
				<a href="/" aria-label="Check the openings">Career</a>
			</li>
		</ul>
	</div>
</div>
