@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.map-component {
  @include clearfix;
  margin-bottom: 60px;

  .field {
    &--name-field-title {
      @include title;
      color: $color-dark-blue;
    }

    &--name-field-short-title {
      font-size: 18px;
      padding: 10px 0;
    }

    &--name-field-body {
      font-size: 20px;
      line-height: 26px;
      color: $color-dark-blue;
      font-family: $bold-font;
      padding: 20px 0;
      @include respond(tab) {
        padding: 30px 0;
      }
      p {
        margin-bottom: 0;
      }
    }

    &--name-field-link {
      text-align: right;

      a {
        font-size: 18px;
        line-height: 22px;
        color: $color-dark-blue;
        font-family: $bold-font;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  iframe {
    border: none;
  }
}
//map end
