@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.map-component,
.block--type-map-block {
  @include clearfix;
  margin-bottom: 60px;

  .field {
    &--name-field-title {
      @include title;
      color: $color-dark-blue;
    }

    &--name-field-short-title {
      font-family: $bold-font;
      font-size: 18px;
      padding: 10px 0;
    }

    &--name-field-body,
    &--name-body {
      @include respond(tab) {
        padding: 30px 0;
      }
      color: $color-dark-blue;
      font-family: $bold-font;
      font-size: 20px;
      line-height: 26px;
      padding: 20px 0;

      p {
        margin-bottom: 0;
      }
    }

    &--name-field-link {
      text-align: right;

      a {
        color: $color-dark-blue;
        font-family: $bold-font;
        font-size: 18px;
        line-height: 22px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  iframe {
    border: 0;
  }
}

.map-component {
  h2.block-title {
    @include title;
    color: $color-dark-blue;
  }

  h4.block-title {
    font-family: $bold-font;
    font-size: 18px;
    padding: 10px 0;
  }
}
