{% extends '@templates/00-layouts/00-site.twig' %}
{% block content %}
  <div class="page--content">
    <div class="container">
      {% block main %}
        <p>
          Content Placeholder
        </p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
