@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';
.card--list {
  margin-bottom: 60px;
}
.card--grid {
  position: relative;
  .row {
    margin-left: -10px;
    margin-right: -10px;
    > .field--item {
      padding: 0 10px;
    }
  }
  .card_media {
    .layout--twocol-section {
      flex-direction: column;
      > .layout__region--first,
      > .layout__region--second {
        flex: 0 1 100%;
        padding: 0;
      }
    }
    .layout__region {
      padding: 0;
      margin-bottom: 0;
      .card_text_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        color: $color-white;
        @include respond(desktop) {
          padding: 10px;
        }
        @include respond(desktop) {
          padding: 40px;
        }

        .field--name-field-link {
          a {
            color: $color-white;
          }
        }
        .field--name-field-summary {
          margin: 14px 0;
          @include respond(tab) {
            margin: 18px 0;
          }
          @include respond(desktop) {
            margin: 30px 0 40px;
          }
        }
        .field--name-field-short-title,
        .field--name-field-subhead,
        .field--name-field-summary,
        .field--name-field-link {
          display: none;
        }
      }
      .field--name-field-media-image {
        height: 300px;
        @include respond(tab) {
          height: 400px;
        }
        @include respond(desktop) {
          height: 500px;
        }
      }
    }
    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(38, 76, 123, 0.57);
      content: '';
    }
    &:hover {
      .card_text_content {
        .field--name-field-short-title,
        .field--name-field-subhead,
        .field--name-field-summary,
        .field--name-field-link {
          display: block;
        }
      }
      &::before {
        background-color: rgba(0, 0, 0, 0.57);
      }
    }
  }
}
.paragraph--view-mode--default {
  margin-bottom: 0;
  .card--list {
    margin-bottom: 0;
  }
}

.paragraph--view-mode--cards-grid {
  .col-md-4 {
    padding: 1px;
  }
  .paragraph {
    margin-bottom: 0;
  }
}
