@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';
.card--list {
  margin-bottom: 60px;
}
.card--grid {
  margin-bottom: 60px;
  .row {
    margin-left: -10px;
    margin-right: -10px;
    > .field--item {
      padding: 0 10px;
    }
  }
  .card_media {
    .layout--twocol-section {
      flex-direction: column;
      > .layout__region--first,
      > .layout__region--second {
        flex: 0 1 100%;
      }
    }
    .layout__region {
      padding: 0;
      .card_text_content {
        padding: 10px 0;
        @include respond(tab) {
          padding: 24px 0 0;
        }
      }
    }
  }
}
.paragraph--view-mode--default {
  margin-bottom: 0;
  .card--list {
    margin-bottom: 0;
  }
}
