#layout-builder-modal {
  .field--name-field-card {
    padding: 0;
  }
  .form-check {
    padding-left: 2.25rem;
    &-label {
      padding-left: 0;
    }
  }
  .form-type-color {
    .form-control {
      min-height: 3rem;
      max-width: 3rem;
      padding: 1px;
      border-radius: 0.125rem;
    }
  }
  .form-type-number {
    .form-control {
      max-width: 4.5rem;
    }
  }
  .paragraphs-actions {
    float: right;
    margin-right: -11px;
  }
  .paragraphs-dropdown-actions {
    .button {
      border-radius: 0;
    }
  }
  .paragraphs-subform .paragraphs-content {
    .col-auto {
      padding: 0;
    }
  }
  [id^=edit-block-form] {
    >.col-auto {
      padding: 0;
      >.col-auto {
        padding: 0;
      }
    }
  }
  .dropbutton {
    list-style: none;
    padding-left: 0;
  }
  a.tabledrag-handle .handle {
    width: 25px;
    height: 25px;
  }
  .paragraph--type--card {
    padding: 0 22px 0 30px;
    .field--name-field-subhead,
    .field--name-field-summary {
      border: none;
    }
  }
  .btn-primary {
    &:hover,
    &:active,
    &:focus,
    &:disabled {
      background: #0069d9;
    }
  }
  .dropbutton-widget {
    .btn-primary {
      border-radius: 0;
      &:hover,
      &:active,
      &:focus {
        background: inherit;
      }
    }
  }
}

.user-logged-in {
  .ezcontent-header {
    top: 79px;
  }

  &.toolbar-vertical {
    .ezcontent-header {
      top: 38px;
    }
  }
}

.node-landing-page-layout-builder-form,
.layout-builder-discard-changes,
.layout-builder-revert-overrides {
  .form-control {
    width: auto;
  }
}
