<div class="quote-component">
  <div class="field--name-field-quote">
    {% include "@atoms/02-text/02-blockquote.twig" with {
      quote: quote.quote
    } %}
  </div>
  <div class="field--name-field-source">
    <div class="field__label">Source</div>
    <div class="field__item">{{ quote.field__label }}</div>
  </div>
</div>