@import '../_patterns-global/scss/abstracts/variables';
@import '../_patterns-global/scss/abstracts/mixins';

.node--type-article {
  .block-page-title-block {
    @include respond(desktop) {
      padding-left: 40px;
    }
    margin: 0 auto;
    max-width: $component-xxl;

    h1 {
      color: $color-dark-blue;
      font-family: $heading-font;
      font-size: 48px;
      line-height: 65px;
    }
  }

  .block-social-sharing-block {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: $component-xxl;

    .social-media-sharing {
      @include respond(desktop) {
        margin-left: 40px;
      }
      border-bottom: solid 1px $color-border-line;
      padding: 0 0 20px;

      li {
        margin-right: 7px;

        .share {
          img {
            width: 32px;
          }
        }
      }
    }
  }

  .field--name-field-content {
    & > .field__item {
      margin-bottom: 36px;
    }
  }

  .paragraph--type--text,
  .paragraph--type--quote,
  .paragraph--type--faq,
  .paragraph--type--map,
  .paragraph--type--card-list,
  .paragraph--type--card,
  .paragraph--type--assets,
  .paragraph--type--social-media,
  .paragraph--type--embed,
  .paragraph--type--referenced-card {
    @include respond(desktop) {
      max-width: $component-sm;
    }
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .paragraph--type--card-list {
    & > .field--name-field-title {
      font-family: $bold-font;
      font-size: 22px;
      line-height: 26px;
      padding-bottom: 20px;
      @include respond(tab) {
        font-size: 22px;
        line-height: 26px;
      }

      @include respond(desktop) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .card-media {
      .layout {
        .layout--region {
          .card-text-content {
            max-height: 500px;
            padding: 60px 40px 0;

            .field--name-field-summary {
              max-height: 240px;
              overflow: hidden;
            }
          }
        }
      }
    }

    .paragraph--type--card {
      .card-text-content {
        max-height: 600px;
        overflow: hidden;
      }
    }

    .paragraph {
      margin-bottom: 0;
    }

    .col-12,
    .col-sm-12 {
      padding: 0;
    }

    .row {
      margin: 0;
    }
  }

  .paragraph--type--gallery {
    @include respond(desktop) {
      max-width: $component-md;
    }

    @include respond(large-desktop) {
      max-width: $component-xl;
    }
    margin: 0 auto;
    max-width: 100%;

    .gallery-component {
      @include respond(desktop) {
        right: -60px;
      }

      @include respond(large-desktop) {
        right: -115px;
      }

      .gc--field--name-field-title {
        font-family: $bold-font;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 20px;
        @include respond(tab) {
          font-size: 22px;
          line-height: 26px;
        }

        @include respond(desktop) {
          font-size: 24px;
          line-height: 32px;
        }
        font-family: $bold-font;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 20px;
      }

      .field.field--name-field-media-items {
        @include respond(tab) {
          padding: 20px 15px;
        }

        @include respond(desktop) {
          padding: 30px 45px;
        }

        > .field__item {
          @include respond(desktop) {
            padding: 15px;
          }

          .field--name-field-media-image {
            img {
              height: 250px;
              object-fit: cover;
              width: 300px;
              @include respond(tab) {
                width: 215px;
              }

              @include respond(desktop) {
                width: 260px;
              }

              @include respond(large-desktop) {
                width: 300px;
              }
              height: 250px;
              object-fit: cover;
              width: 300px;
            }
          }
        }
      }

      .field--name-field-body {
        @include respond(desktop) {
          max-width: $component-sm;
        }
        padding-top: 20px;
        max-width: 100%;
        
      }

      a.link {
        color: $color-black;
        display: block;
        font-family: $bold-font;
        font-size: 18px;
        line-height: 22px;
        padding-top: 20px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.paragraph--view-mode--gallery-carousel {
      @include respond(desktop) {
        max-width: $component-sm;
      }

      .gallery-carousel {
        .gc--field--name-field-title {
          @include respond(tab) {
            font-size: 22px;
            line-height: 26px;
          }

          @include respond(desktop) {
            font-size: 24px;
            line-height: 32px;
          }
          font-family: $bold-font;
          font-size: 22px;
          line-height: 26px;
        }

        .slick-wrapper {
          .slick {
            .slick-slider {
              .slick-list {
                padding: 0;

                &.draggable {
                  padding-top: 20px;
                }

                .slick-track {
                  padding: 0;
                }
              }
            }
          }
        }

        .field--name-field-body {
          padding-top: 20px;
        }

        a.link {
          color: $color-black;
          display: block;
          font-family: $bold-font;
          font-size: 18px;
          line-height: 22px;
          padding-top: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .paragraph--type--hero-media {
    .hero-media-component {
      .hero_banner-body {
        padding: 20px 40px;
      }
    }
  }

  .paragraph {
    margin-bottom: 30px;
    @include respond(desktop) {
      margin-bottom: 50px;
    }
  }
}
