@import '../_patterns-global/scss/abstracts/variables';
@import '../_patterns-global/scss/abstracts/mixins';

.node--type-article {
  .block-page-title-block {
    max-width: 1280px;
    margin: 0 auto;
    h1 {
      font-family: $primary-font;
      color: $color-dark-blue;
      font-size: 48px;
    }
  }
  .block-social-sharing-block {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: solid 1px $color-border-line;
    padding-bottom: 15px;
    margin-bottom: 40px;
  }

  .field--name-field-content {
    & > .field__item {
      margin-bottom: 36px;
    }
  }

  .paragraph--type--text,
  .paragraph--type--assets,
  .paragraph--type--quote,
  .paragraph--type--faq {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    @include respond(desktop) {
      max-width: 850px;
    }
  }
  .paragraph--type--embed {
    max-width: 100%;
    margin: 0 auto;
    @include respond(desktop) {
      max-width: 980px;
    }
  }

  .paragraph--type--gallery {
    max-width: 100%;
    margin: 0 auto 30px;
    @include respond(desktop) {
      max-width: 1080px;
    }
    .gallery-component {
      position: relative;
      @include respond(desktop) {
        right: -115px;
      }
      .gc--field--name-field-title {
        padding-bottom: 20px;
        font-family: $bold-font;
        font-size: 22px;
        line-height: 26px;
        @include respond(tab) {
          font-size: 22px;
          line-height: 26px;
        }
        @include respond(desktop) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .field.field--name-field-media-items {
        background: #d8d8d8;
        padding: 20px 30px;
        @include respond(tab) {
          padding: 20px 15px;
        }
        @include respond(desktop) {
          padding: 30px 45px;
        }
        > .field__item {
          display: flex;
          padding: 10px;
          @include respond(desktop) {
            padding: 15px;
          }
          .field--name-field-media-image {
            img {
              width: 300px;
              height: 250px;
              object-fit: cover;
              @include respond(tab) {
                width: 215px;
              }
              @include respond(desktop) {
                width: 300px;
              }
            }
          }
        }
      }
      .field--name-field-body {
        padding-top: 20px;
      }
      a.link {
        font-size: 18px;
        line-height: 22px;
        color: $color-black;
        font-family: $bold-font;
        display: block;
        padding-top: 20px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.paragraph--view-mode--gallery-carousel {
      max-width: 100%;
      @include respond(desktop) {
        max-width: 850px;
      }
      .gallery-carousel {
        .gc--field--name-field-title {
          font-family: $bold-font;
          font-size: 22px;
          line-height: 26px;
          @include respond(tab) {
            font-size: 22px;
            line-height: 26px;
          }
          @include respond(desktop) {
            font-size: 24px;
            line-height: 32px;
          }
        }
        .slick-wrapper {
          .slick {
            .slick-slider {
              .slick-list {
                padding: 0;
                &.draggable {
                  padding-top: 20px;
                }
                .slick-track {
                  padding: 0;
                }
              }
            }
          }
        }
        .field--name-field-body {
          padding-top: 20px;
        }
        a.link {
          font-size: 18px;
          line-height: 22px;
          color: $color-black;
          font-family: $bold-font;
          display: block;
          padding-top: 20px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
