@import '../_patterns-global/scss/abstracts/variables';
@import '../_patterns-global/scss/abstracts/mixins';

.node--type-article {
  .block-page-title-block {
    max-width: 1280px;
    margin: 0 auto;
    h1 {
      font-family: $primary-font;
      color: $color-dark-blue;
      font-size: 48px;
    }
  }
  .block-social-sharing-block {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: solid 1px $color-border-line;
    padding-bottom: 15px;
    margin-bottom: 40px;
  }

  .field--name-field-content {
    & > .field__item {
      margin-bottom: 36px;
    }
  }

  .paragraph--type--text,
  .paragraph--type--assets,
  .paragraph--type--quote,
  .paragraph--type--faq {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
  }
  .paragraph--type--embed {
    max-width: 980px;
    margin: 0 auto;
  }

  .paragraph--type--gallery {
    max-width: 1080px;
    margin: 0 auto;
    .field.field--name-field-media-items {
      background: #d8d8d8;
      padding: 20px 30px;
      @include respond(desktop) {
        padding: 30px 45px;
      }
      > .field__item {
        display: flex;
        padding: 10px;
        @include respond(desktop) {
          padding: 15px;
        }
        .field--name-field-media-image {
          img {
            width: 300px;
            height: 250px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
