@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.faq-wrapper {
  margin-bottom: 50px;
  padding: 0;
  .card {
    margin-bottom: 10px;
    background-color: none;
    border: none;
    border-bottom: 1px solid $color-border-line;
  }
  .card-header {
    padding: 15px 15px;
    background-color: $color-white;
    border-bottom: none;
    cursor: pointer;
    @include respond(tab) {
      padding: 30px 15px;
    }
    &:before {
      content: '\e259';
      font-family: 'Glyphicons Halflings' !important;
      display: block;
      font-size: 14px;
      color: $color-border-line;
      position: absolute;
      right: 14px;
      @include respond(tab) {
        font-size: 22px;
      }
    }
    h4 {
      font-family: $bold-font;
    }
    &[aria-expanded='true'] {
      border-bottom: none;
      &:before {
        content: '\e259';
        transform: rotate(180deg);
      }
    }
  }
  .card-body {
    background-color: $color-white;
    border-bottom: none;
    padding: 0px 15px 15px;
    @include respond(tab) {
      padding: 0px 15px 30px;
    }
  }
}
.faq-btn {
  border-style: none;
  background-color: transparent;
  color: $color-text;
  font-size: 20px;
  font-family: $heading-font;
}
.faq-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 16px;
    width: 16px;
    transition: all 0.5s;
  }
}
