<div class="faq-wrapper" aria-label="faq">
	{% for key,value,index in faq.element %}
		<div class="faq faq--accordion">
			<div class="card">
				<div class="card-header collapse-cursor faq-card"
  				data-toggle="collapse"
  				data-target="#accordian{{ loop.index }}">
  				{% include '@atoms/04-images/01-image.twig' with {
    				src: '../../../images/next.png',
    				alt: 'Loading'
  				} %}

					{% if value.question %}
						{% include "@molecules/07-FAQ&QnAComponent/00-question.twig" %}
					{% endif %}
				</div>

				<div id="accordian{{ loop.index }}" class="collapse">
					{% if value.answer %}
						{% include "@molecules/07-FAQ&QnAComponent/01-answer.twig" %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</section>
