<div class="qna-wrapper" aria-label="question answer">
  <div class="question">
    {% include '@molecules/07-FAQ&QnAComponent/00-question.twig' %}
  </div>
  {% include '@molecules/07-FAQ&QnAComponent/01-answer.twig' %}
</div>
