@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.content-listing-component {
  .view-content {
    .views-row {
      @include respond(tab) {
        display: flex;
      }
      display: block;
      padding-bottom: 30px;

      .views-field-field-thumbnail {
        @include respond(tab) {
          padding-bottom: 0;
          padding-right: 30px;
        }
        padding-bottom: 20px;
        padding-right: 0;

        .field--name-field-media-image {
          height: 320px;
          width: 400px;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }

      .views-field-title {
        .right-content {
          .author-tags {
            padding-bottom: 15px;

            a {
              color: $color-dark-blue;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .title {
            @include respond(tab) {
              font-size: 24px;
              line-height: 28px;
            }

            @include respond(desktop) {
              font-size: 28px;
              line-height: 32px;
            }
            font-family: $bold-font;
            font-size: 24px;
            line-height: 28px;

            a {
              color: $color-dark-blue;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .summary {
            font-size: 16px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.node--type-author {
  .layout--twocol-section {
    .layout__region--first {
      padding-right: 15px;
    }

    .layout__region--second {
      padding-left: 15px;
    }
  }
}
