.content-listing-component {
  padding: 30px;
  margin-bottom: 30px;
  .field--name-field-title {
    padding-top: 15px;
  }
  .field--name-field-image {
    padding-top: 30px;
  }
  .author-details {
    padding-top: 30px;
    .author,
    .tag {
      display: inline;
    }
  }
  .field--name-field-summary {
    padding-top: 30px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
