@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

section > .field--name-field-title,
section > .block-title,
.paragraph--type--card-list > .field--name-field-title {
  color: $color-blue-light;
  font-family: $bold-font;
  font-size: 24px;
  line-height: 30px;
  padding: 0 0 36px 0;
  text-align: center;
}

section {
  &.block {
    margin-bottom: 36px;
  }
  &.section {
    margin-bottom: 0;
  }
}
