.ezcontent-header {
  background: $color-white;
  border-bottom: 1px solid $color-grey-light-2;
  z-index: 99;
  .navbar-collapse {
    justify-content: flex-end;
    .menu--main {
      padding: 0 15px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $color-grey-light-3;
    }
  }
}

.ezcontent-main-wrapper {
  margin-top: 6em;
}

.user-logged-in {
  &.gin--classic-toolbar {
    &.toolbar-tray-open .ezcontent-header {
      top: 79px;
    }
    .ezcontent-header {
      top: 39px;
    }
  }
  &.gin--vertical-toolbar {
    .ezcontent-header {
      top: 0;
      left: 80px;
    }
    &[data-toolbar-menu="open"] {
      .ezcontent-header {
        left: 240px;
      }
    }
  }
  .ezcontent-header {
    top: 54px;
  }
}
