
  {% if title %}
    <div className="gc--field--name-field-title" role="heading">{{title}}</div>
  {% endif %}
  <div class="row mt-2 text-center text-lg-left field--name-field-media-items">
    {% for key,value in galleryComponent.items %}
      <div class="row col-lg-3 col-md-4 col-sm-6 col-12 field--item" key={{view_mode.drupal_internal__id}}>
        <a href={{value.file.url}} target="_parent" class="gallerycolorbox field--name-field-media-image h-100 gallery-item d-flex">
          {% include "@atoms/04-images/01-image.twig" with {
            style: '"height: 245px; object-fit: cover"',
            src: value.file.url,
            alt: value.file.alt,
            class: "gallery-thumbnail mw-100"
          }%}
        </a>
      </div>
    {% endfor %}
  </div>
