<div class="twitter d-inline-block mt-0 mb-0 ml-auto mr-auto mw-100 w-100">
  <blockquote class="twitter-tweet">
    <a href="{{ socialMedia.tweetUrl }}"></a>
  </blockquote>
  <script async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"></script>
</div>
