{% extends '@templates/00-layouts/01-page-1col.twig' %}
{% block main %}
  <main class="page-wrapper">
    {% include '@molecules/05-HeroComponent/01-hero-carousel.twig' %}
    {% include '@organisms/01-cards/00-card-list.twig' %}
    {% include '@organisms/01-cards/01-card-list-grid.twig' %}
    {% include '@molecules/02-QuoteComponent/00-quote-component.twig' %}
    {% include '@molecules/03-MapComponent/00-map-component.twig' %}
    {% include '@molecules/04-SocialMedia/00-social-media.twig' %}
    {% include '@molecules/06-ReferenceCards/00-reference-cards.twig' %}
    {% include '@molecules/07-FAQ&QnAComponent/02-faq-list.twig' %}
    {% include '@molecules/07-FAQ&QnAComponent/03-qna-list.twig' %}
    {% include '@molecules/08-GalleryComponent/00-gallery-component.twig' %}
    {% include '@molecules/11-Embed/embed.twig' %}
  </main>
{% endblock %}
