{% extends "@templates/00-layouts/01-page-1col.twig" %}
{% block main %}
    <article class="article">
        <h1>Drupal 9</h1>
        
        {% include "@molecules/06-HeroComponent/00-hero-component.twig" %}
        {% include "@organisms/01-cards/00-card-list.twig" %}
        {% include "@organisms/01-cards/01-card-list-grid.twig" %}
        {% include "@molecules/04-MapComponent/00-map-component.twig" %}
        {% include "@molecules/07-ReferenceCards/00-reference-cards.twig" %}
        {% include "@molecules/08-FaqComponent/00-faq-list.twig" %}
        {% include "@molecules/09-Q&AComponent/00-q&a-component.twig" %}
        {% include "@molecules/10-GalleryComponent/00-gallery-component.twig" %}
        {% include "@molecules/03-QuoteComponent/00-quote-component.twig" %}
        {% include "@molecules/11-GalleryCarousel/00-gallery-carousel.twig" %}
    </article>
{% endblock %}
