@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.embed-block {
  @include respond(tab) {
    margin: 0 0 40px;
  }
  margin: 0 0 20px;

  #embedded-container {
    & > div {
      margin: 0 auto;
    }

    iframe {
      @include respond(tab) {
        height: 400px;
      }
      @include clearfix;
      height: 300px;
      max-width: 100%;
    }
  }

  #embedded-container {
    text-align: center;
  }
}
