<section class="gallery-carousel paragraph--type--gallery-carousel"
  aria-label="gallery carousel">
  <div class="wrapper">
	
    {% if galleryCarousel.title %}
      {% include '@atoms/13-content/00-title.twig' with {
        title: galleryCarousel.title,
        class: 'gc--field--name-field-title',
        role: 'heading'
      } %}
    {% endif %}

    <div class="carousel">
      {% for key, value in galleryCarousel.images %}
        <div class="gallery-block pb-4">
          <div class="media--background banner position-relative w-100"
            style="background-image:url({{ value.url }})"></div>
        </div>
      {% endfor %}
    </div>

    {% if galleryCarousel.field_body %}
      {% include '@atoms/02-text/01-paragraph.twig' with {
        paragraph_content: galleryCarousel.field_body,
        class: 'field--name-field-body'
      } %}
    {% endif %}

    {% if galleryCarousel.field_link %}
      {% include '@atoms/12-links/00-links.twig' with {
        url: galleryCarousel.field_link,
        text: galleryCarousel.field_link_title,
        class: 'link'
      } %}
    {% endif %}
		
  </div>
</section>
