@import '../abstracts/variables';

.moderation-dashboard {
  .view-content {
    &.row {
      margin: 0;
      display: block;
    }
  }
}
.view-content-moderation-view-blocks {
  .view-content {
    table {
      width: 100%;
      thead {
        background-color: $color-bg-grey;
        tr {
          th {
            font-weight: normal;
            width: 12%;
            &.views-field-title {
              width: 40%;
            }
          }
        }
      }
      tbody {
        tr {
          td.views-field-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
          }
        }
      }
      .views-field-operations {
        .dropbutton-wrapper {
          .dropbutton-widget {
            width: 120px;
            background: $color-white;
            padding-left: 1em;
            ul {
              li {
                padding: 5px 0;
              }
            }
          }
          &.open {
            .dropbutton-widget {
              background: $color-bg-grey;
              box-shadow: 1px 1px 2px 2px $color-border-line;
            }
          }
        }
      }
    }
  }
  .view-footer {
    float: right;
    padding: 10px 20px;
    background: $color-primary-hover;
    margin-top: 30px;
    &:hover {
      background: $color-primary-hover;
    }
    a {
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.user-shortcuts-block-wrapper {
  background: none !important;
  .shorcut-operation {
    .btn {
      background-color: #d4d4d8 !important;
      margin-right: 16px;
      border-radius: 0;
      &:hover {
        background-color: #c2c3ca !important;
      }
      a {
        color: $color-black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .user-shortcut-block {
    .btn {
      background: #00bfff !important;
      margin: 0 !important;
      border-radius: 0;
      a {
        color: $color-white;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.layout__region {
  section.block-views {
    &:last-child {
      .view-footer {
        margin-bottom: 30px;
      }
    }
  }
}
