//import
@import '../abstracts/mixins';
@import '../abstracts/variables';

.paragraph--type--assets {
  margin-bottom: 30px;
  padding: 0;

  .field {
    &--name-field-media {
      overflow: hidden;
    }
    &--name-field-media-image {
      float: none;
      margin: 0;
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}
