<div class="faq-wrapper" aria-label="faq">
	{% for key,value,index in faq.element %}
		<div class="faq faq--accordion">
			<div class="card">
				<div class="card-header collapse-cursor faq-card" 
				data-toggle="collapse" 
				data-target="#accordian{{loop.index}}">
					<img src="../../../images/next.png" alt="Loading" />
					<h3 class="mb-0">
						<button class="faq-btn" type="button">
							{{value.question}}
						</button>
					</h3>
				</div>
				<div id="accordian{{loop.index}}" class="collapse">
					<div class="card-body">
						<p>{{value.answer}}</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</section>
