{% for key, value in menu.menuitems %}
  <li>
    {% include '@atoms/12-links/00-links.twig' with {
      text: value.text,
      class: value.class,
      href: value.url
    } %}
  </li>
{% endfor %}
