@import '../../../_patterns-global/scss/abstracts/variables';
@import '../../../_patterns-global/scss/abstracts/mixins';

.footer {
  @include respond(tab) {
    padding: 36px 0 0;
  }
  background-color: $color-bg-dark-cyan;
  border-top: 1px solid $color-grey-light-dark;
  color: $color-white;
  margin: 0;
  padding: 20px 0 0;
  width: 100%;

  .container {
    padding: 0;
  }
}
