
<footer class="page-footer footer region-footer" style="width: 100%;">
	<div class="container">
		{% include "@molecules/13-FooterTop/02-footer-top-menu.twig" %}
		{% include "@molecules/14-FooterBottom/02-footer-bottom-menu.twig" %}
	</div>
</footer>
