
<footer class="page-footer footer region-footer" style="width: 100%;">
	<div class="container">
		{% include "@molecules/13-FooterTop/footer-top.twig" %}
		{% include "@molecules/14-FooterBottom/footer-bottom.twig" %}
	</div>
</footer>
