// COLORS
$color-primary: #3367d6;
$color-primary-hover: #4285f4;
$color-secondary: #f8ab3d;

$color-white-light: #f2f2f2;
$color-grey-light-1: #f0f6eb;
$color-grey-light-2: #ddd;
$color-grey-light-3: #4a4a4a;
$color-grey-light-4: #e5e5e5;
$color-grey-light-dark: #e8e8e8;

$color-white: #fff;
$color-black: #000;
$color-text: #000;
$color-footer-border-lighter: rgba(107, 164, 57, 0.25);
$color-bg-dark-cyan: #3e5063;
$color-dark-blue: #122760;
$color-blue-light: #2f9eb9;
$color-border-line: #979797;
$color-bg-grey: #f1f1f1;
$color-primary-btn: #003cc5;
$color-primary-btn-hover: #0036b1;
$color-cta-button: #1a73e8;

// FONT SIZE
$default-font-size: 16px;

// fonts
$primary-font: "ProximaNova-Regular", sans-serif;
$secondary-font: "ProximaNova-Regular", sans-serif;
$heading-font: "ProximaNovaT-Thin", sans-serif;
$bold-font: "ProximaNova-Bold", sans-serif;

$greadient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

//screen width
$screen-sm: 700px;
$screen-md: 1200px;
$screen-lg: 1300px;

//component width
$component-xs: 800px;
$component-sm: 850px;
$component-md: 960px;
$component-lg: 980px;
$component-xl: 1080px;
$component-xxl: 1280px;
