<div class="gallery-component">
  {% if galleryComponent.title %}
    {% include '@atoms/02-text/00-headings.twig' with {
      heading_level: 1,
      heading: galleryComponent.title,
      class: 'gc--field--name-field-title'
    } %}
  {% endif %}

  <div class="row mt-2 text-center text-lg-left field--name-field-media-items">
    {% for key,value in galleryComponent.items %}
      <div class="row col-lg-3 col-md-4 col-sm-6 col-12 field--item" key={{view_mode.drupal_internal__id}}>
        {% embed "@atoms/12-links/00-links.twig" with {
          url:value.file.url,
          class: '"gallerycolorbox field--name-field-media-image h-100 gallery-item d-flex"',
          target: "_parent"
          } %}
          {% block text %}
            {% include "@atoms/04-images/01-image.twig" with {
              style: '"height: 245px; object-fit: cover"',
              src: value.file.url,
              alt: value.file.alt,
              "class": "'gallery-thumbnail mw-100 nm'"
            }%}
          {% endblock %}
        {% endembed %}
      </div>
    {% endfor %}
  </div>
</div>
