<div class="gallery-component">
  {% if galleryComponent.title %}
    {% include '@atoms/02-text/00-headings.twig' with {
      heading_level: 1,
      heading: galleryComponent.title,
      class: 'gc--field--name-field-title'
    } %}
  {% endif %}
  {% include '@molecules/08-GalleryComponent/00-gallery-field.twig' %}
</div>
