@import '../../_patterns-global/scss/abstracts/variables';
@import '../../_patterns-global/scss/abstracts/mixins';

.layout--twocol-section {
  display: flex;
  flex-wrap: wrap;
  > .layout__region {
    flex: 0 1 100%;
  }
}

@media screen and (min-width: 40em) {
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--50-50
    > .layout__region--second {
    flex: 0 1 50%;
  }

  .layout--twocol-section.layout--twocol-section--33-67
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33
    > .layout__region--second {
    flex: 0 1 33%;
  }

  .layout--twocol-section.layout--twocol-section--33-67
    > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--67-33
    > .layout__region--first {
    flex: 0 1 67%;
  }

  .layout--twocol-section.layout--twocol-section--25-75
    > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--75-25
    > .layout__region--second {
    flex: 0 1 25%;
  }

  .layout--twocol-section.layout--twocol-section--25-75
    > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--75-25
    > .layout__region--first {
    flex: 0 1 75%;
  }
}
.card_media {
  @include clearfix;
  padding: 0;
  .layout {
    .layout__region {
      margin-bottom: 20px;
      @include respond(tab) {
        margin-bottom: 0;
      }
      .field--name-field-media-image {
        width: 100%;
        @include respond(tab) {
          height: 500px;
        }
        img {
          display: block;
          margin: 0 auto;
          height: 100%;
          object-fit: cover;
        }
      }
      .card_text_content {
        color: $color-dark-blue;
        @include respond(tab) {
          padding: 60px 40px 0;
        }
        @include respond(desktop) {
          padding: 100px 80px 0;
        }
        .field {
          &--name-field-title {
            font-family: $bold-font;
            font-size: 28px;
            line-height: 32px;
            @include respond(tab) {
              font-size: 32px;
              line-height: 36px;
            }
            @include respond(desktop) {
              font-size: 36px;
              line-height: 40px;
            }
          }

          &--name-field-short-title {
            font-size: 16px;
            margin-top: 8px;
          }

          &--name-field-subhead {
            font-size: 14px;
            margin-top: 8px;
          }

          &--name-field-summary {
            display: block;
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
            @include respond(tab) {
              margin-bottom: 40px;
            }
            p {
              margin: 0;
            }
          }

          &--name-field-media-image {
            align-items: center;
            display: flex;
            margin: 0 auto;
            width: 100%;
          }

          &--name-field-link {
            text-align: left;
            a {
              font-size: 18px;
              line-height: 22px;
              color: $color-black;
              font-family: $bold-font;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      .block-field-blockparagraphcardfield-media {
        height: 100%;

        div,
        section {
          height: 100%;
        }
      }
    }
  }
}
