<div class="card_text_content">
  {% include '@atoms/13-content/00-title.twig' with {
    title: 'Create and publish great content easily'
  } %}

  {% include '@atoms/13-content/01-short-title.twig' with {
    title: 'Short title'
  } %}

  {% include '@atoms/13-content/02-sub-head.twig' with {
    title: 'Sub head'
  } %}

  {% include '@atoms/13-content/03-description.twig' with {
    content: 'Content creation and publishing don’t need to be chaotic. Build a rich
    content model with WYSIWYG, preview, layout builder, paragraphs, drag and
    drop the content wherever you like it.<br /> Create content with utmost ease!'
  } %}

  <div class="field--name-field-link">
    {% include '@atoms/12-links/00-links.twig' with {
			text: "CTA Link"
		}%}
  </div>
</div>
