<div class="faq-wrapper" aria-label="faq">
	{% for key,value,index in faq.element %}
		<div class="faq faq--accordion">
			<div class="card">

				{% if value.question %}
					{% include "@molecules/07-FaqComponent/01-question.twig" %}
				{% endif %}
				
				{% if value.answer %}
					{% include "@molecules/07-FaqComponent/02-answer.twig" %}
				{% endif %}
				
			</div>
		</div>
	{% endfor %}
</section>
