<div id="accordian{{ loop.index }}" class="collapse">
  <div class="card-body">
    {% include '@atoms/02-text/01-paragraph.twig' with {
      paragraph_content: value.answer
    } %}
  </div>
</div>
